body {
    min-height: 100vh;
    min-width: 100vh;
    overflow: hidden;
}


#card_perfil, #card_login, #card_criar {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    box-shadow: 0 0 5px blue;
}

#card_perfil {
    display: block;
}

#card_login, #card_criar {
    display: none;
}

#btn_registrar {
    width: 35%;
}

#j4 {
    font-size: 30px;
}

#card_config {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    box-shadow: 0 0 5px blue;
    display: block;
}

#card_transacao {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    box-shadow: 0 0 5px blue;
    display: block;
}